/*
CSS Dasar Writting Tresno soko Atusan ewu Limo
Repo: https://github.com/bagus18/css-dasar
*/
.ijo {color:green}
.abang {color:red}
.puteh,putih {color:white}
.ngilang{display:none;}
.cilik{font-size: small;}
.cuilik{font-size: x-small;}
.abu2{color:gray;}
.abang{color:red}
.ijo{color:green;}
.tomat{color:tomato}
.ireng{color:black}
.ungu{color:violet}
.kuning{color:orange;}
.biru{color:blue;}
.langit{color:DodgerBlue}
.dongker{color:SlateBlue}
.abu{color:LightGray}
.ijjo{color:MediumSeaGreen}
.ping{color:magenta}